{% extends 'layout.html' %}

{% block content %}
    <h1>Reject Ad Request</h1>
    <h3>Details:</h3>
    <p>Campaign Name: {{a.campaign.camp_name}}</p>
    <p>Requirements: {{a.requirements}}</p>
    <p>Payment Amount: {{a.pay_amt}}</p>
    <p>Influencer: {{a.influencer.name}}</p>
    <hr>
    Are you sure you want to reject this ad request?<br><br>
    <form action="{{url_for('reject_adreq_from_influencer',ad_id=a.id)}}" method="post">
        <button type="submit" class="btn btn-danger">
            Reject
        </button>
        <a href="{{url_for('adreqs_list',id=a.campaign.id)}}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}