{% extends 'layout.html' %}

{% block content %}
    <h1>Reject Ad Request</h1>
    <h3>Details:</h3>
    <h6>Campaign Name: {{a.campaign.camp_name}}</h6>
    <h6>Requirements: {{a.requirements}}</h6>
    <h6>Payment Amount: {{a.pay_amt}}</h6>
    <h6>Message: {{a.message}}</h6>
    <h6>Sponsor: {{a.campaign.sponsor.name}}</h6>
    <hr>
    Are you sure you want to reject this ad request?<br><br>
    <form action="{{url_for('reject_adreq',ad_id=a.id)}}" method="post">
        <button type="submit" class="btn btn-danger">
            Reject
        </button>
        <a href="{{url_for('home')}}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}