{% extends 'layout.html' %}

{% block content %}
    <div class="div-card mb-3">
        <h2 class="mb-3">Info</h2>
        <div class="mb-3">
            <i class="fa fa-phone" aria-hidden="true"></i>
            123-456-789
        </div>
        <div class="mb-3">
            <i class="fa fa-location-arrow" aria-hidden="true"></i>
            qwertyuiopasdfghjkl<br>
            qwertyuiopasdfghjkl <br>
            qwerty
        </div>
        <div class="mb-3">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            qwerty@gmail.com
        </div>
    </div>
{% endblock %}

{% block style %}
<style>
    .div-card{
        background-color:lightgray;
        width:80%;
        margin:50px auto;
        height: 400px;
        padding: 50px;

    }
</style>  
{% endblock %}